/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body{
  background-color: #2D3142;
}

header{
  width: 1440px;
  height: 90px;
  left: 0px;
  top: 0px;
  background-color: #000000;
  color: #EF8354;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  font-family: 'Roboto condensed', sans-serif;
  text-decoration: none;
   }

.HeroSection{
  background-color: rgba(239, 131, 84, .81);
  padding-top: 1px;
  padding-bottom: 40px;

}

.space{
  padding-top: 100px;
}

.HeroSection_content{
  padding-left: 100px;
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto condensed', sans-serif;
}

.HeroSection_content h1{
  font-family: 'roboto condensed', black;
  font-size: 90px;
  margin-bottom: -30px;
  justify-content: center;
}

.HeroSection_content p{
  font-size: 20px;
  padding-bottom: 20px;
}

.h1{
  padding: 40px;
  background-color: #EF8354;
  height: 30px;
  width: auto;
  color: #ffffff;
  font-size: 30px;
  text-align: center;

}


  .custom-navbar{
     justify-content: right;
     padding-right: 20px;
   }

   .custom-navbar a{
     color: #EF8354;
     text-decoration: none;
   }

   .header_logo{
     display: flex;
     align-items: center;
     flex-direction: row;
     padding-left: 15px;
     padding-top: 10px;
   }

   .header_logo img{
     width: 190px;
   }

   .header_logo p{
     padding-top: 13px;
     padding-left: 10px;
     font-size: 13px;
   }


   .footer{
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #000000;
     color: #EF8354;
     text-align: left;
     font-family: 'Roboto condensed', sans-serif;
     font-size: 13px;
   }

   .footer p{
        margin-left: 10px;
   }

   .bg_image{
     background-image: url("../img/background.png");
     background-repeat: no-repeat;
     background-position: center center;              /* optional, center the image */

   }


   .speakers_home{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 90vw;
     height: auto;
     margin: 0 auto;
   }

   .speaker_content{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     width: 100%;
   }


/*gallery*/
   .gallery{
     margin: 15px;
     width: auto;
     height: 300px;
     float: left;
     position: relative;

   }

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 300px;
  opacity: 0;
  transition: 1s ease;
  background-color: #EF8354;
  border-radius: 40px;
}

.gallery:hover .overlay{
  opacity: 1;
}

.gallery img{
  width: 300px;
  height: 300px;
  border-radius: 40px;
   }

.text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Roboto condensed', black;
}

.headshot_image{
  display: block;
  width: 400px;
  height: auto;
}

.button{
  background-color:#4F5D75;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
  box-shadow: 2px 2px black;
  font-family: 'Roboto condensed', black;
}

.buttons{
  padding-left: 100px;
  padding-bottom: 50px;
}

.buttons a{
  margin-right: 20px;
}


/* modal styles */

.modal_window{
  background-color: #FDF5EA;
  width: 30%;
  height: auto;
}

.modal_info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #2D3142;
}

.modal_info img{
  margin: 5px;
  font-family: 'Roboto condensed', black;
  padding-top: 25px;


}

.modal_info h3{
  font-size: 48px;
  margin: 0;
  font-family: 'Roboto condensed', black;
}

.modal_info h5{
  font-size: 24px;
  margin: 0;
  font-family: 'Roboto condensed', black;
}

.modal_info p{
  font-size: 14px;
  font-family: 'Roboto condensed', black;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
